.art-post-title {
  position: absolute;
  z-index: 1000;
  width: 75vw;
  left:5vw;
}
.art-post-title h3 {
  color: #afc1ff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  margin-top:0;
}
.art-post-title p {
  text-transform: lowercase;
  margin-bottom: 1vh;
}
.art-post-thumb {
  position: relative;
  top:0;
  background-color: blue;
  width:100%;
  filter: brightness(50%);
}
.art-post-thumb:hover {
  filter: brightness(80%);
  transition-duration:0.8s;
}
.art-image-thumb-container {
  width: 50vw;
  margin-bottom: 5vw;

}
.art-post-container {
  display: flex;
  flex-direction: column;
}
