.featured-post-container {
	background-color: white;
	padding: 0 30px;
	flex-grow: 1;
	width: 25vw;
	min-height: 30vh;
	box-sizing: border-box;
	border-right: 1px solid black;
	text-align: center;
}
.featured-thumb {
	width: 20vw;
	height: auto;
	position: relative;
	padding-bottom: 30px;
	cursor: pointer;
}
.featured-post-container:last-child {
   margin: 0;
   border: 0;
}
.featured-tagline {
	margin: 0;
	text-transform: uppercase;
	font-size: 1rem;
}
.featured-title {
	font-family: 'Cerebri Sans', sans-serif;
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	color: black;
	padding: 0;
}
.featured-slug {
	margin: 0;
	display: inline-block;
}
a.featured-link {
	border-radius: 5px;
	background-color: #3DC5C9;
	color: white;
	padding:20px;
	margin: 10px 10px 0 0;
	display: table;
}
a.featured-link:hover {
	background-color: #43DADF;
	transition: 0.5s;
}

.featured-read-more {
	padding: 10px;
	white-space: nowrap;
}
.featured-read-more:hover {
	color: #43DADF;
	transition: 0.5s;
}

.featured-link-container {
	display: flex;
	flex-direction: row;
}

.featured-big {
    display: flex;
    flex-direction: row;
}

.featured-big img {
	width: 30vw;
	height: 22.5vw;
}

.featured-big .featured-info-wrapper {
	padding-left: 50px;
	text-align: left;
}

.featured-big .featured-title {
	font-size: 4rem;
	text-align: left;
}

@media (max-width: 812px) {
    .content {
    	margin: 0 5vw;
    }
    .featured-post-container {
    	padding: 0;
    	flex-direction: column;
    	width: 90vw;
    	border: none;
    	padding-bottom: 50px;
    }
    div.home-featured-post-container {
    	flex-direction: column;
    	padding: 0;
    }
    .featured-thumb, .featured-big img {
	    width: 100vw;
	    height: auto;
	    padding: 0;
	    position: relative;
	    left: -5vw;
    }
    .featured-info-wrapper, .featured-big .featured-info-wrapper {
    	padding: 0;
    }
    .featured-big .featured-title {
    	font-size: 3.5rem;
    }
    .featured-title {
    	text-align: left;
    }
    .featured-slug {
    	font-size: 1rem;
    	text-align: left;
    	width: 90vw;
    }
    .featured-tagline {
    	font-size: 0.8rem;
    	padding-top: 10px;
    	font-weight: 300;
    }
}