.home-background {
  background-image:url('../assets/crystals2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  bottom:0;
  height:100vh;
  max-height:100%;
  width:100vw;
  max-width:100%;
}
