.home-about-container {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 200;
  width:100vw;
  height: 40vh;
  position: relative;
  overflow: hidden;

}
.home-featured-post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-about-text {
  position: absolute;
  top:50%;
  margin: 0;
  z-index: 100;
  transform: translate(0, -50%);
  padding: 0 20vw 0 20vw;
  /*font-weight: 300;*/
  font-size: 2em;
  line-height: 1.5em;
  color: black;

}
.home-container {
  overflow: hidden;
}