.home-about-container {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 200;
  width:100vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
}
.home-featured-post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-about-text {
  font-family: 'Cerebri Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  top:50%;
  margin: 0;
  z-index: 100;
  transform: translate(0, -50%);
  font-size: 1.5rem;
  line-height: 1.5em;
  color: black;
  width: 100vw;
}
.home-container {
  height: 100vh;
}
.home-content-wrapper {
  z-index: 1;
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}