div.post-container {
  padding: 3vh 0 3vh 0;
}
.post-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}
span.post-date {
  padding: 0 1em 0 1em;
  color: #7480c1;
  white-space: nowrap;
  text-transform: uppercase;
}
.content a.tag {
  color: #9aa6f9;
}

.tag {
  margin:0.5em;
  padding:0.3em;
  background-color: #2a39a1;
  font-size: 0.8em;
}
.tag:first-child {
  margin-left: 0;
}
