div.post-container {
  padding: 3vh 0 3vh 0;
}
.post-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}
.post-tags {
  padding:2px;
  background-color: #4558db;
  color: #9aa6f9;
}
span.post-date {
  padding: 0 1em 0 1em;
  color: #7480c1;
  white-space: nowrap;
  text-transform: uppercase;
}
