@font-face{
  font-family: 'Atlas Grotesk';
  src: url('assets/Atlas Grotesk Web-Regular.woff');
  font-weight: normal;
}
@font-face{
  font-family: 'Atlas Grotesk';
  src: url('assets/Atlas Grotesk Web-Bold.woff');
  font-weight: bold;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Atlas Grotesk', sans-serif;
  background-color:#181717;
  color: #9db3fe;
}
div.content {
  padding: 1vmax;
  margin: 0 7vw 0 7vw;
}
a {
  text-decoration: none;
  color:#7594ff;
}

header.app-header {
  width: 100vw;
  max-width: 100%;
  text-align: center;
  margin: 5vh 0 5vh 0;
  left:0;
  height:10vh;
}
li.nav-li {
  display: inline-block;
  padding: 0 2vw 0 2vw;
  font-size: 0.8em;

}
ul.nav-ul {
  padding: 0;
}
.active {
  color: white;
}
h1 {
  font-size: 4em;
}
