@font-face{
  font-family: 'Atlas Grotesk';
  src: url('assets/fonts/AtlasGrotesk-Thin.woff');
  font-weight: normal;
}
@font-face{
  font-family: 'Atlas Grotesk';
  src: url('assets/fonts/Atlas Grotesk Web-Bold.woff');
  font-weight: bold;
}
@font-face{
  font-family: 'Cerebri Sans';
  src: url('assets/fonts/CerebriSans-HeavyItalic.woff');
  font-weight: bold italic;
}
html {
  overflow-y: scroll;
}
div#root {
  top:0;
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  top:0;
  font-family: 'Atlas Grotesk', sans-serif;
  color: #1a1a1a;
}
p {
  font-size:1.2em;
}
body.page-background {
  bottom:0;
  height:100vh;
  max-height:100%;
  width:100vw;
  max-width:100%;
}
.content {
  margin: 0 10vw 0 10vw;
  padding-bottom:3em;
}
a {
  text-decoration: none;
  color:#000000;
}
.content a {
  color:#5847e0;
}
.content p,li {
  line-height: 1.5em;
}
.content li {
  list-style-type: disc;
}
.content pre  {
  background-color: #251466;
  padding: 3vw;
  overflow: auto;
}

h1.header-title {
  font-family: 'Cerebri Sans', sans-serif;
  font-weight: bold italic;
  font-size: 4em;
  margin: 0 2vw 0 2vw;
}
mark {
  display: inline-block;
  line-height: 0em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;
  background-color:#3d79ff;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header.app-header {
  width: 100vw;
  max-width: 100%;
  text-align: center;
  padding: 5vh 0 5vh 0;
  left:0;
  top:0;
  height:10vh;
}
li.nav-li {
  display: inline-block;
  padding: 0 2vw 0 2vw;
  font-size: 0.8em;

}
ul.nav-ul {
  padding: 0;
}
.active {
  color: #0021ff;
}
h1 {
  font-size: 4em;
}
footer {
  margin: auto;
  text-align: center;
  position: absolute;
  width:100vw;
  max-width: 100%;
  bottom: 0;
  right:0;
  left:0;
  height:3em;
}
footer p {
  margin: 0;
  padding: 2.5vh;
  font-size: 0.5em;
}
